body {
    margin: 0;
}


/* Style the header */

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}


/* Style the top navigation bar */

.topnav {
    overflow: hidden;
    background-color: red;
}


/* Style the topnav links */

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change color on hover */

.topnav a:hover {
    background-color: white;
    color: red;
}


/* it sets colour of the page that is currently active */

.topnav a.active {
    background-color: grey;
    color: white;
}


/* Create three equal columns that floats next to each other */

.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

.social-icons {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.social-icons li {
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: middle;
}

.social-icons a {
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    word-break: break-all;
}

.social-icons span {
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    background-image: url(social-icons.png );
}

.social-icons li:nth-child(2) span {
    background-position: -48px 0;
}

.social-icons li:nth-child(3) span {
    background-position: -96px 0;
}

.social-icons li:nth-child(4) span {
    background-position: 0 -48px;
}

.social-icons li:nth-child(5) span {
    background-position: -48px -48px;
}

.social-icons li:nth-child(6) span {
    background-position: -96px -48px;
}


/* Style the footer */

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

.header {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

.checked {
    color: orange;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}